*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
:root{
    --transition: all 300ms ease;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: blue;
    overflow-x: hidden;
    background: lightgreen;
    font-size: 0.9rem;
}

.container {
    width: 74%;
    max-width: 1800px;
    margin-inline: auto;
}

.section{
    margin-top: 3rem;
    width: 100vw;
}

h1,h2,h3,h4,h5{
    color: white;
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-size: 1.1rem;
    image-rendering: 0.8rem 0 0.5rem;
}

h4{
    font-size: 1rem;
}

a{
    color: white;
    transition: var(--transition);
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}