*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    appearance: 0;
    list-style: none;
    text-decoration: none;
}
:root{
    --transition: all 300ms ease;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color: blue;
    overflow-x: hidden;
    background: lightgreen;
    font-size: 0.9rem;
}

.container {
    width: 74%;
    max-width: 1800px;
    margin-inline: auto;
}

.section{
    margin-top: 3rem;
    width: 100vw;
}

h1,h2,h3,h4,h5{
    color: white;
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}

h3{
    font-size: 1.1rem;
    image-rendering: 0.8rem 0 0.5rem;
}

h4{
    font-size: 1rem;
}

a{
    color: white;
    transition: var(--transition);
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
} 

.post_thumbnail{
    border-radius: 5rem 0;
    border: 1rem solid green;
    overflow: hidden;
    margin-bottom: 1.6rem;
}
.post:hover .post_thumbnail img{
    filter: saturate(0);
    transition: filter 500ms ease;
}
.info{
    background: green;
    color: white;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
}

.featured {
    margin-top: 8rem;
}
.featured_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}
.featured .post_thumbnail {
    height: fit-content;
}


.posts_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
    margin-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
    .container{
        width: 88%;
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.8rem;
    }
}


