@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

#careers-page .btn{
    outline: none;
    border-radius: 20%;
    border: 1px solid lightblue;
    background-color: white;
}


#careers-page .row .btn{
    width: 50px;
    background-color:#AFE1AF;
}

#careers-page #more-info{
    border: 1px solid #AFE1AF;
    padding-bottom: 50px;
    text-decoration: none;
    color: black;
}

#careers-page #card{
    border: 1px solid #AFE1AF;
    height: 50px;
}

#careers-page #apply {
    width: 90px;
}