footer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: green;
}
.container{
    position: relative;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    text-align: center;
}