@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.footer{
    background-color: rgb(3, 133, 55);
    padding: 50px;
}

    max-width: 1270px;
    margin: auto;
}
.footer{
    background-color: rgb(113, 233, 161);
    padding: 50px;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0, 15px;
}
.footer-col h4{
    position: relative;
    font-size: 22px;
    color: aliceblue;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: bold;
}
.footer-col h4::before{
    contain: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #04018b;
    height: 4px;
    width: 10%;
    box-sizing: border-box;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(2, 99, 45);
    margin-right: 0 10px 10px 0;
    color: aliceblue;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: rgb(7, 22, 150);
    background-color: rgb(249, 249, 250);
}
@media(max-width: 767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col{
        width: 100%;
    }
    text-align: center;
}