.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;

}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(2, 2, 2);
    opacity: 0.4;
}
.carousel-caption{
    bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
}
.caption-area{
    width: 400px;
    max-width: 100%;
    max-height: 100vh;
    color: aliceblue;
    background-color: black;
    opacity: 0.5;
}