body{
    background-color: white;
}

.carousel-item{
    background: no-repeat scroll center scroll;
    background-size: cover;
}
.carousel-inner{
    top: 17px;
    height: 590px;
    border:1px solid grey;
    border-radius: 12px;
}

.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(82, 80, 80);
    opacity: 0.4;
}
.carousel-caption{
    left: 50px;
    bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: 600;
    font-size: large;
}
.caption-area{
    position: relative;
    margin: 0;
    bottom: 20px;
    left: -60px;
    width: 350px;
    color: white;
    background-color: black;
    opacity: 0.5;
}
@media only screen
and (min-width: 1366px) {
    .slider-specific{
        margin: auto;
        width: 750px;
        display: block;
    }    
    
}
@media only screen
and (min-width: 576px) 
and (max-width: 1080){
    .slider-specific{
        margin: auto;
        width: 400px;
        display: block;
    }    
    
}