@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
.sidebar {
   display: flex;
   position: fixed;
   top: 0;
   left: 4px;
   width: 78px;
   height: 100vh;
   z-index: 100;
}

.sidebar .nav-links {
   height: 100%;
   padding: 150px 0 150px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
   display: none;
}

.sidebar .nav-links li {
   list-style: none;
   position: relative;
   transition: all 0.4s ease;
   padding-bottom: 15px;
}

.sidebar .nav-links li .icon-link {
   display: flex;
   align-items: center;
   justify-content: space-between;
   display: block;
}

.sidebar .nav-links li i {
   height: 50px;
   min-width: 50px;
   text-align: center;
   line-height: 48px;
   color: green;
   font-size: 30px;
   transition: all 0.3s ease;
   border-radius: 50%;
   background: none;
   padding-bottom: 5px;
}

.sidebar .nav-links li i:hover {
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1), 0 16px 32px rgba(0, 0, 0, 0.1), 0 32px 64px rgba(0, 0, 0, 0.1);
}

.sidebar .nav-links li .sub-menu {
   position: absolute;
   left: 75%;
   top: -5px;
   padding: 4px 5px;
   text-align: center;
   border-radius: 6px;
   transition: 0s;
   opacity: 0;
   pointer-events: none;
   height: 38px;
   margin-left: 18px;
   background: dimgray;
}

.sidebar .nav-links li .sub-menu::after {
   content: " ";
   position: absolute;
   top: 50%;
   right: 100%;
   margin-top: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: transparent dimgray transparent transparent;
}

.sidebar .nav-links li:hover .sub-menu {
   top: 0;
   opacity: 1;
   pointer-events: auto;
   transition: all 0.4s ease;
} 

@media screen and (max-width: 700px) {
   .landing-container {
       margin-left: 0;
   }
   .sidebar {
       display: flex;
       width: 100vw;
       bottom: 0;
       padding: 0%;
       background-color: rgb(213, 217, 209);
       height: 50px;
       top: unset
   }
   .sidebar .nav-links {
       width: 100vw;
       padding: 0;
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
   .sub-menu {
       display: none;
   }
   .sidebar .nav-links li {
       padding: 8px;
   }
} 