/*Google font import link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 78px;
    height: 100%;
    z-index: 100;
  }
.sidebar .logo-details
{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.sidebar .logo-details i
{
    font-size: 30px;
    color: #1d1b31;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name
{
    font-size: 22px;
    color: #1d1b31;
    font-weight: 600;
}

.sidebar .nav-links{
    height: 100%;
    padding: 150px 0 150px 0; 
    overflow: auto;  
}
.sidebar .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    list-style: none;
    position: relative;
    transition: all 0.4 ease;
    padding-bottom: 15px;
    
}

.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.sidebar .nav-links li .iocn-link{
    display: block;
  }
.sidebar .nav-links li i{
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 48px;
    color: green;
    font-size: 30px;
    transition: all 0.3s ease; 
    border-radius: 50%;
    background:none;
    padding-bottom: 5px;
}

}
/* .sidebar .nav-links li i::after{
    background: yellow;
    transition: 0.4s;
    &:hover {
    box-shadow: 0 0 0 5px rgba(#000,.4) , 0 0 0 10px  #f05f75;
  }
  } */
.sidebar .nav-links li i:after{
    transform: scale(1.3);
    opacity: 0;
  }
.sidebar .nav-links li i:hover{
    box-shadow: 0 1px 2px rgba(0,0,0,0.1), 
    0 2px 4px rgba(0,0,0,0.1), 
    0 4px 8px rgba(0,0,0,0.1), 
    0 8px 16px rgba(0,0,0,0.1),
    0 16px 32px rgba(0,0,0,0.1), 
    0 32px 64px rgba(0,0,0,0.1);
  }

.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li .sub-menu {
    height: 40px;
    background: dimgray;
}

.sidebar .nav-links li .sub-menu li{
    padding-top: 4px;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;

}
.nav-links li .sub-menu a{
    color: #fff;
    font-size: 50px;
    padding: 4px;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
    text-align: center;
    display: inline-block;
}

.sidebar .nav-links li .sub-menu {
    position: absolute;
    left: 75%;
    top: -5px;
    /* margin-top: 10px; */
    padding: 1px 1px;
    /* padding-left: 0px;
    padding-bottom: 0px; */
    text-align: center;
    border-radius: 6px;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent dimgray transparent transparent;
  }
.sidebar .nav-links li:hover .sub-menu{
    top: 0;
     opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name{
    font-size: 14px;
    opacity: 1;
    display: block;
}

  @media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
    .sidebar{
      width: 0;
    }
  }