{% load static %} {% include "head_partial.html" with page_title="Businesses"%} {% include "navbar.html"%}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="business-card">
                <div class="business-card-content">
                    <h2 class="business-card-title">Lorem Ipsum</h2>
                    <p class="business-card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia qui sint, quaerat earum dolore rerum recusandae iusto eaque similique.</p>
                    <a href="#" class="business-button">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="business-card">
                <div class="business-card-content">
                    <h2 class="business-card-title">Lorem Ipsum</h2>
                    <p class="business-card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia qui sint, quaerat earum dolore rerum recusandae iusto eaque similique.</p>
                    <a href="#" class="business-button">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="business-card">
                <div class="business-card-content">
                    <h2 class="business-card-title">Lorem Ipsum</h2>
                    <p class="business-card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia qui sint, quaerat earum dolore rerum recusandae iusto eaque similique.</p>
                    <a href="#" class="business-button">Explore</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3">
            <div class="business-card">
                <div class="business-card-content">
                    <h2 class="business-card-title">Lorem Ipsum</h2>
                    <p class="business-card-body"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Error officia qui sint, quaerat earum dolore rerum recusandae iusto eaque similique.</p>
                    <a href="#" class="business-button">Explore</a>
                </div>
            </div>
        </div>

    </div>
</div>