{% load static %}
{% include "head_partial.html" with page_title="Home"%}

<main id="contents">

    <div class="row">
    {% for item in contents %}
        <div class= "col-md-6 item-div" >
            <div class="item {{item.style}}">
                <div class="item-title"><h2>{{item.title}}</h2></div>
                <div class="item-description">{{item.description}}</div>
                <a class="item-link" href={{item.destination}}><button class="item-btn btn btn-outline-{{item.style}}"> Explore </button></a>
            </div>
        </div>
    {% endfor %}
    </div>

</main>

{% include "script_partial.html" %}