{% load static %}
{% include "head_partial.html" with page_title="Home"%}

{% include "navbar.html"%}

<main id="homepage">
    <section id="landing">

        <div class="landing-text container">
            <h2 class="greet"> Welcome to FOCUS </h2>
            <p> 
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                 et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                 nisi ut aliquip ex ea commodo consequat.
                 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>
        </div>
        

    </section>
    

    <section id="contents">
        <div class="row">
        {% for item in contents %}
        <div class= "col-md-6 item-div" >
            <div class="item {{item.style}}">
                <div class="item-title"><h2>{{item.title}}</h2></div>
                <div class="item-description">{{item.description}}</div>
                <a class="item-link" href={{item.destination}}><button class="item-btn btn btn-outline-{{item.style}}"> Explore </button></a>
            </div>
        </div>
        {% endfor %}
        </div>
    </section>

</main>

{% include "footer.html"%}

{% include "script_partial.html" %}