{% load static %}
{% include "head_partial.html" with page_title="Team"%}

{% include "navbar.html"%}
<div class="container-fluid">

    <section id="team">
        <h2 class="text-center"> Team </h2>

        <div class="row d-flex align-items-center justify-content-center">

            {% for member in team %}
            <div class="team-card {{member.style}}">
                <div class="card-div">
                    <div class="flip-card">
                        <div class="card-front">
                            <div class="teams-img d-flex align-items-center justify-content-center">
                                <img src="{% static 'images/team/3.jpg' %}" class="team-img" alt="Team member image">
                            </div>

                            <div class="teams-txt d-flex align-items-center justify-content-center flex-column">
                                <p>{{member.first_name}} {{member.last_name}}</p>
                                <span>{{member.role}}</span>
                            </div>
                        </div>

                        <div class="card-back">
                            <h5> {{member.username}} </h5>
                            <p>{{member.statement}}</p>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        
        </div>
    </section>


    <section class="contact" >
        
        <h2 class="text-center"> Contact Us </h2>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="d-flex quick-contact">
                    <div class="phone">
                        Phone number: <a href="tel:29384920 - 0193030201">29384920 - 0193030201</a>
                    </div>

                    <div class="email">
                        Email: <a href="#">focusgroup@gmail.com</a> 
                    </div>

                    <div class="social-media">

                    </div>
                        
                        
                    </p>
                </div>
            
            </div>

            <div class="col-md-6 d-flex justify-content-center">
                    <form action="" method="get" class="contact-form">
                        <input type="text" class="form-control shadow-none" placeholder="Name">
                        <input type="email" class="form-control shadow-none" placeholder="Email Address">
                        <input type="tel" class="form-control shadow-none" placeholder="Phone Number">
                        <textarea class="form-control message shadow-none" name=""  placeholder="Message"></textarea>

                        <button class="btn btn-outline-success contact-submit-button" type="button">Submit</button>

                    </form>
                </div>
                </div>
            </div>

        </div>
    </section>



</div>