@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#homepage{
    height: 100%;
    overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* **************************** Landing Page *******************************************/
#landing{
    min-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
}

.landing-left{
    background-color: rgb(248, 245, 245);
    font-family: 'Times New Roman', Times, serif;
    color: hsl(120, 83%, 5%);
    text-align: center;
}

.landing-right{
    height: 100%;
}


.landing-left #h4{
    text-align: center;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-style: solid;

}

.landing-right{
    height: 100%;
}

.landing-left ::first-letter{
    color: green;
    
}
.carousel-item {
    width: 100%;
    height: 100%;
    -webkit-backgroundsize: cover;
    background-size: cover;
}

.carousel-inner img{
    max-width: 100%;
    width: 100%;
    height: 100%;

}

.landing-carousel-img{
    object-fit: contain;  
}
/* **************************** Main Contents Page *******************************************/
#contents{
    overflow: hidden;
    background-color: aqua;
}

.danger{
    border-left: 5px solid #dc3545;
    float: right;
    margin-right: 2%;
}

.primary{
    border-right: 5px solid #0d6efd;
    margin-left: 10%;
}

.warning{
    border-bottom: 5px solid #ffc107;
    margin-left: 12%;
}

.success{
    border-bottom: 5px solid #198754;
    float: right;
    margin-right: 12%;
}


.item{
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 15px -8px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    padding: 0%;
}

.item-title{
    top: 0;
    padding-top: 0%;
    height: 200px;
    color: white;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUWFRgWFhUZGBgaGhocGBwaHBkZGRoYHBgaGRoYGhocIS4lHh4tHxwYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHhISHjUrJCs0NDQ0MTQ0NDQ0NDQ0NjQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIAKsBJgMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAAAQIDBAUGB//EADsQAAEDAgQEAwYEBgEFAQAAAAEAAhEDIQQSMUEFUWFxIoGRBhMyobHwFEJSwSNictHh8TMWJEOCkhX/xAAYAQEBAQEBAAAAAAAAAAAAAAAAAQIDBP/EACYRAAICAgIBBAEFAAAAAAAAAAABAhEhMQNBEhNRcYEiYZGx0eH/2gAMAwEAAhEDEQA/APGUIQgBCEIAQhCAEIQgBCEIAQhCAEIQgBCEIAQlKRCghAQhACWEic0oVDUJXBIgBCEQhAQhCAEIQgBCEIAQhCAEIQgBCEIAQhCAEIQgBCEIAQhCAEIRCAEEJzQpWMlQpDCQqc0SShzQ1AQgJwakLk+k0lGERuSQrQYFHUIRMrRGBZDWyrIAhMZAMFSxRXIStCnJEwU9tPcK2KIcqjcITnSCkDuaIjGp4upm0g6w1ume7LSgIsqHBWXssqxKARCflTUsUIhCFSAhCEAIQhACEIQAhCEAIQhACEIAQAlDUuQqRlM6qNlSIpUmWQrDKIKjqHKVLLQjKavYajZRtHhlXsOyWSD276oCpXcGqgGucZAVsUjVfAW9gOGBu3L13TRKs51uCO/f6pKwDRA1XQcVYGAc4geoCpYfASJcLm/bePosOVZZtRvCMMOKarWMpFry0Kxw7BB+vf1kD6LbkkrJ4tuivQoOcJ2S4yiRBWriWZWua0fCNumqbiqB9010cp9Pv1XNTzZtxxRjgAt6j6JKNWD0VrCYQvBLTMHTeCCPrCcMHOW0E6jqJB++q25LTMJPYpoNcJH3zVepgnDT7vH1WhQp5H5TpJjudfp810dHCAtEDmR5uAE/eywpNM04qjimtLSJsQYP1H7+i12Ma8TH39ytDinCfAYuZnz59GhYWArFjspvfT6BdNoxonr4dUK1DSF0tPDZmz023P8AtZr6ME9Fmy0ZIpGFCequl8ui8eic7Bg3C1dbJXsZ8JFcq0ICqkHkqnZGqGoQShUgIRCEAIQhACEIhAKAhyk2UShR7Wzsp2M6JKYACaaxlR5KsFkU1NSoqDD15sVpsCxJ0bjkz65a2036KOhQL7uNlafSa98TcfNaB4O57W5bjc6GOa0n0ZaMjEviGtMjeyv4ekfck2jXoD+3ZWGcDuGkX5zFufIjnHorGGw7g/3DxDfyTbMYiSdDK1VIyM4Rh25M7fy6nQE+ei2eFg5XF4I1c2bSL2G0gj6LPFHJTe0eGDBBMHWLiPsLbcHtw1x1HQjY8pWZMqOU4jL6zWfla4OcZtHI+kJ9fiDPhZczHU6D6pKzXMpOB+N7j3ADjm/v2AS+z3Bi92Z0w10d7Bw8rFcZyjTk+jrBSul2VK+Ac2iXv11jqdPK/wAlrcA4f4WO5j5Rm+V/UKz7X4fLTbBuXaW8QJBj5Fb/ALO4T/t2ktgtBAnm2GH6FcZcrfH5e7O0YJTr2RydfAlucfrBy2tAufKCtRvDi+iAN2j9h+4XR1eB5nEm4LCwHlOUkgc7j0KnZgxSe1lgARBOhaYaWrm+W9bNrjrZ5QGPoPJItYHoCflca9Fs12MqUy5sBzZPnFx6nTour4n7Pse50jUFhJ/W1xI9CfmAubxfCnYeo0tByFpzD0J+sei6+rGddM5+nKPwRtoNxFPMwQ8HzmGk/U/JS+zWNcXuYb39RJI8r/NV30X4evTAn+Jcja4aJAHn6LV4BhIx72xE3b20aB5arrBr6ejlJMsY52Wq1jhMiXk2AJ27AO0VDG8NpsDnlttRygAR9J7la3tbh8r8wbAG+hdBA16usP6TzhVuNUyKDaY+J8GN94vyzT8ztK7ROTOcbxIhnhuY8mjTXtuo8M/3gLdHE/fZaA4Wykwh72sJEZnmSSRPhaNOQvzXPsa5pLmzlH5j4QfPcnkLq0mLonxuD90ZmZ5qSgQ4WK0KZFZhsBA5X8uZWTg8K4P3DZ9Vj3TNfBJWpjkqdTKNVqYyANh3JlYWIfJSKsSwBa06KF2qmo+ifWpyJBW7oyV2BDmJGlKSqQYhKQhUUACcUrQhQtCxZMYLqcMkJAyHAQomGh1eIVaFLiDfVRtVWiMmoAyIBK1qtSGQCM3LftCq4TDEC5IJ0hadHCMbBcRnP6j/AHXOUlZuKZlMwz2+IyJ0GklddwrGFrBnaTbRpJd8lmcUpPDQ4BpaNRr6DZPqcOL6fvGOOQiQPyg7jw2n0Woy8iSVGtiMcyoDLDlN5MAkDcXnueQ1uFZwnuqga1xbb4SDfWcw5nprylcQWPNRrATGUZdbDLJt3lXH8Pq0wHEkA6EgQYIBnot+VOjNdnf4/grXsMDOSBfQHa5mxtt6cl4LTBoOpuBzM8JkjxDZxjePoud4X7UvpENfke0t+Km7NAOzxr9F0OBrsc4PY4lrrO7ETppYrnyr8TUNnBe0VdwrO8Ogyg7z16z9V2fAcM1mGa5xjw5/kLX7/JUsdgRXfkewtcHyHgWc1uhPr5qZ/EA5j6bBlyODBmsCW3LZ56eZC8HM/KKivs9nGvGTb+hzuHHEYljyZYHMLeviAnyyrqPdhkMBg5BNpuWvg9NST2CrcN4fAYGHQl0mfCA5hDY7Bw5rXwlDOQ+bjeBJdlc0tM7Bw9V53O8dI7KNZ7H4GgSxwLcpJIEddD6yP/VZ/EaZz58ktfkzAi7Ya4yCNwWjzIXQUCQDbaT0neNblrvQqmyq3M1rw3O5pMA+F0NMgcxHP6iyOLZlsocQyuHiInM14JIuYhzR0yibbhZ78j2ACDmLdoIzHNlIOhtHmo3YAPpvoZy12d7mPvN3BrGk7fmaR/SYunYSg4B73OJaWTEfC7KLjqSJHcc1JpfZqOTlfbh2Sth3tBMSY7Otfmbrr+E8NBq++gZi0AabwTp29Fwzi/FUnBxk0ahMi3hGs9fiMdOq7/C1XfwmMsHNa7NsGkCGxqSR+69cU4uK7RwllN9M5v2sc5+Op0g2WU/E7W7hftaSBrqfLq6fB872veZIbDWNgGdySdBO0+s3z8fiaFKs+pUczwZepnVrWjmLnRYuK9sahZ/Co1Ifvkhro2c4jxRa1x9V745WTxS/QXEez4FRz3vY58+BvxgCbANtA+9Fa/6VbUaHPDCY3d4R2gffNcvieL4moC0s1vFhE7t5ffnns4w8EBgYHCAbS6wjWeW3MLS8XgmUdXxLh1GgyA5k/wAp36nkuHq4+KktIjmP8rcr1cTV/LA/mYZPPLLiNFmcT4RlFnS7UzDT2grm3FSo2lKrIMfQL255trz+WpKxCI1XR8KaSxzST+4WJj6GR5EykJZaEliyKmVay2uqbDdX2C2qsiIz6rYNjKY0KbFC8pKei10TsblQpS1CllohCc1NT2G6FLLAoqg8Q5KZgUFc+K+m3VREZDW1TsNTzGEuJbBCvcMpiJj6Kt0glbLlClleANFV4k9wfrppOyv02S8AyR3hU+KYcZwdAeXiPdYjs09GlhMdmAZU/MIB+xqt32aqhj34Z5kOByAxPTL4fEOkz9VTpcPZUpwCSYsfD9NfRUjiX0mhlQfDHu6rbljgbSNehHyUhKnj9jUlayPxOEdSqB5b/wAR8XWm42cOx+vRdf8A/nsrsD2XBHlpssd9b8S2A4MxDBJGz27ObOoI2Kg4Xi6lN+VrhRfux8mmeZb+n5hanFyzHf8AJiLSxI2MB7KU2T4LnWfvRZeHrsw2MFIO/h1AWuBsA4g+l4urfEvaKsG5TVpAx/48zj8wAPVcVXlzy9z80XFvvmpGM7uRW41+J6fimFoa6JBbmF/ELSR11+a5Wnw0Pa9+fJmf7yD8QyyTPkRB6LqOH8WZUoUi/wARFMZv6oiPr6LB90XYhxE5Mga4OJBNnHlpJb9OS8c8SdYPVDKVnQ0arWPa8OJzFn6tTAgQNJII7LYwWKH8MUvE0lznEXAEAhwn8pe/fryWHQqZGuk6fCTfKzQWi4OvPUWhbnC2AMY9mUNs1txZziGbCJDQ23MwvHVPJ3bNJ9cgNf0awyIl/ia2QZjxuA13KzcS3OGPyw9niy3loEEsEdA0xzuNVde0wW3GY5oMCG5mk93ArPex0ucHEPcCWEeIZwDAaP06OGx9Vr4MmTj2ZXlsuGaCXATmkS7tMtjlDgIsVU4jjnikwguL87WukRmaDJFtCG68iI2WlVxBe1pB8DQRcWJaJ8J1JmY/pMyoDRbLnuE+ENgkktdJ8QtZxDpiNo2VVpq0XawUeFYVnjLP+F7QWwLufm8UzsRZbOCr5GPeWgMY0kOMxDBrcTofmqPAHMDHAw1jXHKCQCAHkEjmYuq/t7j2Mw7cNTfJqCXaTbLtsJj58l6uFXJ2cOWVRwZ/s/h/xj3Va0ue4khsWGvlKscS9kn+9a+nUc0NgxJixmAFgezGMq0XSC3exdF42mBfRd1hvaNzxfDPmOgb5E7dl6JLljK4q0cLg45KmKwLWMdWqWIHrebDa64z2f4aKtZsj43l5/pBt5Eyey3OOcRfWcGvIcNqTCXSdPG79hftqp2j8JQdUc3NiaohjQPgBFragAdF144uNyltmJNOlHRm+0HFWGs2lTcfCYIAAE63cTB7EFVsfULqgEEGN5I89QDbon4fBNoNdVqeKqQXSWudB5SLAXFrLLq4x9TM9zyNgCPDHIElcn+UrWjosRpkj33IkB3KZPzFgsziTS9uabjoFJwqXOIkz99PkpcbiAxpFifVWmpEu0c07W6vYR8jqqdZ0mVbwfwmF1ejmtlatdykY0BNecx0UucgXVApQmAoUoWQJWi6bKVpuqUuNEKviXXUjnWVRxUiiNl+qyWzaQNlZ4VoR9QFXw85dbpuFqFroO+uiNYCeTTwxh+sfNX+IUA9tviHl6rObTBfmbHzVvCNaHHOS7lFx6n9lis2avFGLRxb6bpaYO83n1XS4TEsqjMc4JF4aSCfWJ6rMxvCsxJY4T1Km4Y/EMcGDKBNy4uv5qTSatbLFtOmRtoOY8OZUh7YLSWvZabtJAj6eq7Hh3HaTyG4nDPa7d4kiNCRZFOmXNbDhnGobABPfkpMNUb8DmkkEExmho3OYwCTGy5Lma6Oj4kzfxHBcB7h9YDNAtmAEHlG5XkeKgAwNeeq9Nqva5mUCGnWInyGgK4ziuGY18AAjTew6cjr6rpHmTWTD4mh/BWFjNTzPY37ax6LZw9WTI/lF7eG9p2mSsmgwwB4hy5HotTDsyzIi4J5a20Pyv5LycuWemGEbX4dzwM02zFwvDj4SBblccgL8ldwxbJY0gDIGsBAa0OBkPG7i05QefWCsnD1CIIcCJBIAgQCIBy2JmAO6m/EgkQQ0yZIlocbEBwAuJOXbTquDi9I6WjrvchzMubMDeXQSAMrXeozdVA6x8Ia0QQbkFsuEhhFwPhIHXsqnDKjJcWucA2PAcsG0ZheLzJHWN4Ri8S2HA5X5rQYByC2UFvKbcpCxb0XxV2Uazswa65DdCMo8QiSW7XANyDB7BU8S0keORIy6wY2J0ubkD91br1JjKAWmQQAIEmWmTHI/wD15qhXqtaDDmkaRmmRcQCNBqeStNl0ZrWQXtFgTYE6fpIt936rl+KUMla15nUzfkukfSddwBb8UyIF7zY3uszG4PM9pLgQIs1wJPiAIPrK9nBKmefljaNL2M4GytXdTq/plvY811mI9lKVIlv4rI2LtL8v100XO8DoGnWFRj4mwmM0bx57DkrvGG08RLqj50s45dbSCNL6i116nzJPs83pNlPF8UweDdkoN9/VMjMC0gH+Y/2nsucxeKY95fiqgL3WygOhoN4BG330WjX4RkMUnEZtfDmgbHNozf1T/wANTYB75jC7UkMJO4E6rMuVPX+m48bWzD4hx33gFOnT8AgC5II7DVJxGadEDTNrEzMaTAA8lu/jqbr02iBYl1h6EBYPGMfndkaWkT4oc13lB/ykVeEqJLGbIeBUzlJEiZkxso6uEzyHG4Nv8yr3vGsYAJaN/wDY0VJrwBmLvqFp3dmVVUY2MwwYYElTUW5G331Ep9MZnl50S4tkiQuhkq0rnVLXaQo2yEVX2sUIK0oUQehSi2MlKNU1AWiWWQ5VipQVEVEGW8O633dRYg3RTKjcbqkLmCxGUxPymFcrYhpggyR93WS1k6IEtI+wpRbOkw+JYAC4gHqdT2CmxOHNXV4jtp3sFzNaZkklWsHVfAaHZW+hPmLrDjWUaUrwzoKNBlNwAL3ukECZbG2hsFtYfEOe4eI5tHEEZKflqVz1J4b4Bqdxry1Oh78lfoPyj+XkDEnqRquE1Z2i6NvFYljG5GTJ1IMkm13c+ypZhq5smLTe2k/fNUm1wTN90PxnqfMDfnyKwovRtyReLiIEDW2xNjYHaeadQq7EecTz2nkLXOqyX4oaajnf75J9CsLXPM7gACb/AD6bLLiVSOho1XTIBItAsPhGgJEj8pF9grzKgAb4QCSYaRaYBI3MEN88vdc9+LPIQ4je9u3pfopjjgWjci5iQZF+28f5XJwbOikjYbVdPiJLnNJ1ytLSA6BaS60mI1nvOKpMOJDQ4mWwQTADRadYna6xziz4TycCbXjIQBtludRzMaKOnjTcuMiARJAAjX0tfqo4FUjUxWJFrxJvMmTEF0DeAYgaDaYWZXxJOoGnMkazIJ0vHr5JrqkwS+55bSOl+/n0VN75Og5QIHbUyqoURyJy/MRBAjbl1+vqlFMOIMeIneJiRfoYj19c59Yg8oPXcDfmrGHxUdbCNOcQukY0zDlZr0sQGvgDoSRaTMSdOV+i0XvsQWiDciJkAR8Wpt0lcziKhieZ059p6k+qfTx+ZsA5ZHWJ7XVcWwpI1xxOmz4GsBIMQbnmBMbxvZYNbideo4gHKy0seHbdRcfNVK9VhOVzQ12oeJInufhKrYnHPYBPibzaTpGs3HJdYQSf9nKUiLjHEHjwgsbzym8+gnzWdwtoLsxvHf6qGu5znFwBg/qaP2+tktSGtiYJ7+i9MVSo4SduzVxOJEG1vL6rDxOJLjY2UbHu2JURVoll2jiE6pWVAKUvshAc9Mc5ISkVAIQhACEIQACiUIQCgpChCAfTfCkqOkKBKHICzh37ESrZxEGB/gKjSdyU9ExqSstFTNHC1cg8TgSm/is5N7ctPks2vXJ8IKdRdlELDibUjep1hGXQfKNVXr1Nh9yFUZVtqon1ZKyom3ItmrcX/efVX8NUsRN9fv0Cw6T5PRW6dbmde/p2UlEKRdditRA5RttbnFlLQxM3E2IMdZB27rMq1QY6+idTq2iB9nf1U8S+RrtxNgIta22o23sBrySnFbnffWd/Ma/ema6vE/dpCj95r9zH7f3U8LL5Gu7E6c7dTMX8+qgOI5aSZv5/TfqqLq5B67/4Vd1efCAnpk8y1Wr3kzOnRLTxHn0/12Czqla0QmsqnmtKBPI3jip7fOO6qOrubJaSTrGkjfuqrK1t0x9S6qjQcrNGpiG1Gcj5WWc+vqxzjGkx/fVVBiMrjax7qw6uHfYW1Gjm5WOw72tls3++SoViXOupXPbqdVE5w1W0ZY4mAoHmUpfKYqQEIQgBCEIAQhCAEIQgBCEIAQhCAEIQgAFOLymoCAezmpA66ilK1RmkWWuTH2TQ5D9FKKKx24Vhj/vVU6akLkaCZZzb7Iz+Sha9OJWaLZYz+vTkml/38lC5ySUoWTgnp5+qrvcZTsyY4qkGuPVFFyZUTqbU6BPmTHvTC5NcUoBVdITJjQpZUZC0iMcTKbKEKmQQhCAEIQgBCEIAQhCAEIQgBCEIAQhCAEIQgBCChACc1NKcEKiQBKSkKRQorUOTWa/fJPKAGpyRINVko8JRvHmkKbugFOya5K5KgGlqUFNclVIKo3J4THKlsZKJSIKpkEIQhAQhCAEIQgBCEIAQhCA//9k=');
}

.item-description{
    padding: 10px;
    height: 80px;
}


.item-link{
    margin: auto;
}

.item-btn{
    width: 80px;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 50px !important;
}

@media only screen and (max-width: 600px){
   .item-div{
       width: 300px;
       margin-bottom: 20px !important;
       justify-content: center;
       margin: auto;
   }

   .item{
        width: 280px;    
   }

   .item-title{
        top: 0;
        padding-top: 0%;
        height: 160px;
    }

    .item-description{
        padding: 10px;
        height: 60px;
    }

   .primary{
       margin-left: unset;
   }

   .danger{
       float: unset;
        margin-right: unset;
   }

   .warning{
        margin-left: unset;
   }
   
   .success{
        float: unset;
        margin: auto;
   }
}

/* ***************** Register User Page *******************************/
.register{
    justify-content: center;
}
.register-form{
    margin: auto;
    width: 450px;
    margin-top: 80px;
}

#firstname{
    width: 45%;
    margin: auto;
}

#lastname{
    width: 45%;
    margin: auto;
}

.register-btn{
    border-radius: 18px;
}

.register-img{
    width: 180px;
}


/* Teams page */

*{
    font-family: 'Montserrat', sans-serif;
}
/* 
.col-md-12{
    display: flex;
}

.col-md-6{
    display: flex;
}

.col-md-4{
    display: flex;
} */

.team-card{
    display: flex;
    justify-content: center;
}

.card-div{
    position: relative;
    min-width: 400px;
    min-height: 200px;
    margin: 15px 20px;
}

.flip-card{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.card-div:hover .flip-card{
    transform: rotateY(180deg);
}

.card-front{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    position: absolute;
    /* border: 1px solid #f1f1f1; */
    min-width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* for Safari */
    transform: rotateX(0deg); /* for Firefox */
    perspective: 1000px;
    padding: 10px;
}

.card-back{
    position: absolute;
    border: 1px solid #f1f1f1;
    min-width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* for Safari */
    transform: rotateX(0deg); /* for Firefox */
    transform: rotateY(180deg);
    padding: 10px;
}

.team-img{
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.teams-txt{
    padding: 10px;
}

