{% load static %} {% include "head_partial.html" with page_title="Home"%} {% include "navbar.html"%} {% include "sidebar.html"%}
<main id="homepage">
    <section id="landing">
        <div class="landing-container container">
            <h2 class="greet"> About Us </h2>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            </p>

            <a class="contents-arrow" href="#contents"><img class="contents-arrow-img" src="{% static 'images/home/leaf.png' %}"> </img>
            </a>
        </div>
    </section>


    <section id="contents">
        <div class="row">
            {% for item in contents %} {% comment %}
            <div class="col-md-6 item-div">
                <div class="item {{item.style}}">
                    <div class="item-title">
                        <h2>{{item.title}}</h2>
                    </div>
                    <div class="item-description">{{item.description}}</div>
                    <a class="item-link" href={{item.destination}}><button class="item-btn btn btn-outline-success"> Explore </button></a>
                </div>
            </div> {% endcomment %}

            <div class="col-md-6 item-div">
                <div class="item {{item.style}}">
                    <div class="item-content">
                        <h2 class="item-title">{{item.title}}</h2>
                        <p class="item-body"> {{item.description}}</p>
                        <a href={{item.destination}} class="item-button"><button class="item-btn btn btn-outline-success"> Explore </button></a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </section>



    <section id="highlights">
        <div class="slider-specific">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">

                    {% for higlight in highlights %}
                    <div class="carousel-item active">
                        <img src={{higlight.img}} class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <div class="caption-area">
                                <h4>{{higlight.title}}
                                </h4>
                                <p>{{higlight.description}} </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>

        <div id="sponsors">

        </div>
    </section>



</main>

{% include "footer.html"%} {% include "script_partial.html" %}