{% load static %} {% include "head_partial.html"%}

<nav class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img class="nav-img" src="{% static 'images/home/logo.png' %}" alt=""></a>

        <div class="ms-auto mb-2 mb-xl-0">
            <h5 class="icon-txt">
                <div class="d-flex">
                    {% if request.user.is_authenticated %}
                    <p class="username">{{ user.username}}</p>
                    {% endif %}
                    <img class="icon-img" src="{% static 'images/home/notification.png' %}" alt=""> </h5>
            </div>
        </div>
    </div>
</nav>