{% load static %} {% include "head_partial.html"%}

<div class="sidebar">
    <ul class="nav-links">
        <li>
            <a href="/">
                <i class='bx bx-home-smile'></i>
            </a>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Home</a> </li>
            </ul>
        </li>
        <li>
            <div class="iocn-link"><a href="/invest"><i class='bx bx-donate-heart'></i></a></div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Donate</a> </li>
            </ul>
        </li>
        <li>
            <div class="iocn-link"><a href="#"><i class='bx bx-cart-download'></i></a></div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Buy</a> </li>
            </ul>
        </li>
        <li>
            <a href="/login"><i class='bx bx-log-in'></i></a>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Log in</a> </li>
            </ul>
        </li>
    </ul>
</div>